.header
  .short-header
    .short-header-container
      .short-header-container_left
        .title
          .title__name
            QIITA
          .title__box
            aaaa
        .home
          .home_content
            .home_name
              ホーム
            .home_button
              ( )
        .community
          .community_name
            コミュニティ
          .community_button
            ( )
        .search
          .search_megane
          .search_input
      .short-header-container_right
        .stock
          .stock_mark
          .stock_name
        .postbutton
          .postbutton_pen
          .postbutton_name
        .notification
          .notification_word
        .login-user
          .login-user_mark
          .login-user_button
/ .body
/ やなぎわらさん担当view
/ .footer


