%link{:href => "https://use.fontawesome.com/releases/v5.0.6/css/all.css", :rel => "stylesheet"}/

#main
  .wapper
    #container{style: "display: grid;"}
      #item.stick_Menu
        %span.fa-stack.fa-2x
          %i.fas.fa-circle.fa-stack-2x
          %i.fas.fa-thumbs-up.fa-stack-1x.fa-inverse
        %span.fa-stack.fa-2x
          %i.fas.fa-circle.fa-stack-2x
          %i.fas.fa-folder.fa-stack-1x.fa-inverse
        %span.fa-stack.fa-2x
          %i.fas.fa-circle.fa-stack-2x
          %i.fab.fa-twitter.fa-stack-1x.fa-inverse
        %span.fa-stack.fa-2x
          %i.fas.fa-circle.fa-stack-2x
          %i.fab.fa-facebook.fa-stack-1x.fa-inverse
      #item.main_header
        .header_info
          .header_author
            投稿者の名前
          .header_time
            投稿時間
          .header_meta
            .header_manipulate
        %h1.title
          / ダミー
          / = @article.title
        #Tags
          %a.Tags_name
            / tagリンク先の記述
            %span
              タグネーム
      #item.option_
      / %data.react
      /   .good-icon
      /     %label.like
      /       いいねアイコン
      /   .-icon
      /     %label.stock
      /       ディレクトリ
      / .main_footer
      /   .footer_info
      /     .footer_author
      /     .footer_
      / .author_Info
      /   %a
      /   .author_info_body
/ iconの順番
/           %li.list
/             = link_to root_path do
/               = fa_icon "thumbs-up"
/           %li.list
/             = link_to root_path do
/               = fa_icon "folder"
/           %li.list
/             = link_to root_path do
/               = fa_icon "twitter"
/           %li.list
/             = link_to root_path do
/               = fa_icon "facebook-square"

