.wapper
  .container
    .items_main
      .article_header
        .article-header_info
          .article-header_author
            投稿者の名前
            / %a
            / = img_tag "", size: "", alt: "アイコン"
          .article-header_time
            投稿時間
          .article-header_meta
            .article-header_manipulate
        %h1.article-header_title
          記事タイトル
        .article-Tags
          %a.article-Tags_name
            / tagリンク先の記述
            %span
              タグネーム
      %data.react
        .it-good-icon
          %label.like
            いいねアイコン
        .it-DR-icon
          %label.stock
            ディレクトリ
      .article-Footer
        .article-footer_info
          .article-footer_author
          .article-footer_
      .article-AuthorInfo
        %a
        .article-AuthorInfo_body




    / %h1.article-header_title
    /  ダミータイトル

