%link{:href => "https://use.fontawesome.com/releases/v5.0.6/css/all.css", :rel => "stylesheet"}/
#main
  .wapper
    #container{style: "display: grid;"}
      #item.stick_Menu
        %span.thumbs_icon{ id: "like-of-#{@article.id}"}
          = render partial: 'likes/like', locals: { article: @article, likes: @likes }
        %span.fa-2x#folder
          %i.fas.fa-folder
        %span#small_twitter
          %i.fab.fa-twitter
        %span#small_facebook
          %i.fab.fa-facebook-f
      #item.main
        .show_article
          .show_header
            .show_header_info
              .show_header_info__author
                %a.profile
                  = image_tag "profile.jpg", class: "profile_picture", size: "32x32"
                %h1.author_name
                  / = link_to article.user.name, "mypage_link"
              .show_header_info__time
                form_posted_time(article.created_at)
              .show_header_info__meta
                %i.fab.fa-ellipsis-h.fa#icon
            %h1.title
              / = @articles.title
            #Tags
              %a.tags_item
                tags
          .content
            / = @articles.body
            記事
          .show_footer
            .show_footer_menu
              %span.fa-stack#plane
                %i.fas.fa-paper-plane
                %a.edit-request
                  編集リクエスト
              %span.fa-stack#directory
                %i.fas.fa-folder-open
                %a.stock
                  ストック
              %span.fa-stack#like
                %i.fas.fa-thumbs-up
                %a.like
                  いいね
            .show_footer_social
              %span.fa-stack#twitter
                %i.fab.fa-twitter
                %a.tweet
                  tweet
              %span.fa-stack#bold
                %i.fas.fa-bold
                %a.hatena
                  11
              %span.fa-stack#google
                %i.fab.fa-google-plus-g
              %span.fa-stack#slack
                %i.fab.fa-slack-hash
                %a.slack
                  slack
              %span.fa-stack#like_icon
                %i.fas.fa-thumbs-up
                %a.like_icon
                  Like
          .show_footer_author_info
            %a.profile
              = image_tag "profile.jpg", class: "profile_picture", size: "60x60"
            .author_info_body
              .author_info_header
                %h1.author_name
                  @ねこねこ
              .author_info_description
                テキスト
              .author_info_footer
                %span.fa-stack.fa-1x#follow
                  %i.fas.fa-user-plus
                  %a.follow
                    フォロー
      #item.topic
        目次
