
.search_result
  - @articles.each do |article|
    - article.stocks.each do |stock|
      - if stock.user_id == current_user.id
        .article-title
          = article.title
        .article-tags
          - article.tags.each do |tag|
            = tag.name
        .article-text
          = article.body
