.wapper {
  display: grid;
  background-color: gray;
  .container {
    padding-top: 24px;
    padding-bottom: 40px;
    // grid-template-rows: minmax(270px,auto) 1fr;
    .items_main {


    }
  }
}
